[Desktop Entry]
Encoding=UTF-8
Name=iMule
Comment=iMule
Exec=imule
Icon=imule.xpm
Terminal=false
Type=Application
Categories=Application;Network;
Comment[fr]=Un client pour le réseau eD2k
Comment[tr]=eD2k ağı için istemci
