[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Start I2PBrowser Only
Comment=I2P complete with browser and IRC client
Exec=./.Start-Browser-Only
Icon=/i2pportablelin/App/AppInfo/Browser.ico
Type=Application
