#
# i2phex has a lot of System.exit() calls, so
# until these are patched, just run in a separate JVM
#
#clientApp.0.main=phex.Main
#clientApp.0.args=-c $PLUGIN
#clientApp.0.classpath=...
#clientApp.0.delay=20
#
clientApp.0.main=net.i2p.util.ShellCommand
clientApp.0.args=java -cp $I2P/lib/i2p.jar:$I2P/lib/mstreaming.jar:$I2P/lib/streaming.jar:$I2P/lib/jbigi.jar:$PLUGIN/lib/phex.jar phex.Main -c $PLUGIN
clientApp.0.delay=20
