name=i2phex
signer=zzz-plugin@mail.i2p
updateURL=http://stats.i2p/i2p/plugins/i2phex-update.xpi2p
updateURL.su3=http://stats.i2p/i2p/plugins/i2phex-update.su3
websiteURL=http://www.phex.org/
description=Java Gnutella client for i2p
author=Complication (packaged by zzz)
disableStop=true
min-java-version=1.6
min-i2p-version=0.9.17
license=GPL V2
version=3.2.8.0.1-b1
date=1469913854000
key=Z3xbCcZiIA44W65~q4u5Rm9ZZWvBIv1bCvTx8DrbsKefu0PZ1134xzkI~vyXuRmmujvSwTVTfgEnxL81hwmpuB4aXMBLDlBmckspFnGKte~HefYI-6WcK79rnZPvNQCffdgi~EgWnUMYDR20PBWQKaGwajkSb-LOK~l2Z69G6aI=
