#
# jIRCii has a lot of System.exit() calls, so
# until these are patched, just run in a separate JVM
#
#clientApp.0.main=net.i2p.jircii.JirciiWrapper
#clientApp.0.args=-settings $PLUGIN/config
#clientApp.0.classpath=$PLUGIN/lib/jircii.jar,$PLUGIN/lib/jerk.jar
#clientApp.0.delay=20
#
clientApp.0.main=net.i2p.jircii.GuiTest
clientApp.0.classpath=$PLUGIN/lib/jircii.jar
clientApp.0.delay=0
#
clientApp.1.main=net.i2p.util.ShellCommand
clientApp.1.args=java -jar $PLUGIN/lib/jircii.jar -settings $PLUGIN/config
clientApp.1.delay=20
