name=jIRCii
signer=zzz-plugin@mail.i2p
updateURL=http://stats.i2p/i2p/plugins/jircii-update.xpi2p
updateURL.su3=http://stats.i2p/i2p/plugins/jircii-update.su3
description=Java IRC client for i2p
author=Raffi (packaged by zzz)
license=Artistic
websiteURL=http://jircii.dashnine.org/
disableStop=true
version=2014-12-9-z1
date=1471117035000
key=Z3xbCcZiIA44W65~q4u5Rm9ZZWvBIv1bCvTx8DrbsKefu0PZ1134xzkI~vyXuRmmujvSwTVTfgEnxL81hwmpuB4aXMBLDlBmckspFnGKte~HefYI-6WcK79rnZPvNQCffdgi~EgWnUMYDR20PBWQKaGwajkSb-LOK~l2Z69G6aI=
